<div class="jumbotron jumbotron-br">
  <div class="container">
    <h2>
      ERROR 422
    </h2>
  </div>
</div>


<div class="container">
    <div class="jumbotron">
        <h1>
            Well This Is No Good!!
            <br>
            <small>
                We Seem to Have Run Into A Slight Problem!!
                <br>
                We had a valid request but nothing was returned!!
            </small>
        </h1>
    </div>
</div>