<div class="jumbotron jumbotron-br">
  <div class="container">
    <h1>
      The Tech Sphere - Time Clock
    </h1>
    <h3>
      This is the time clock used and created by 
      <%= link_to "The Tech Sphere", "http://thetechsphere.us", target: "_blank" %>,<br>
      We hope you find this usefull! <br>
      If you have any comments, questions, concerns, or requests please 
      <%= link_to "Contact Us", "mailto:admin@thetechsphere.us" %>.
    </h3>
  </div>
</div>